<head>
	<meta charset="utf-8" />
	<script src="leipzig.js/dist/leipzig.min.js"></script>
	<link rel="stylesheet" href="leipzig.js/dist/leipzig.css" />
	<link rel="stylesheet" type="text/css" href="../../../generator/static/css/perfect-scrollbar.min.css" />
	<script type="text/javascript" src="../../../generator/static/js/min/perfect-scrollbar.min.js"></script>
</head>

<style>
.left {
	float: left;
	direction: ltr;
	width: 45%;
	height: 90vh;
}
.left h1 table, .left h1 div {
	vertical-align: top;
}
.right {
	float: right;
	direction: rtl;
	width: 45%;
	height: 90vh;
}
.pattern {
	border: 3px double lightgray;
	display: inline-table;
}
.subpattern {
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.subpattern ruby rt {
	font-family: serif;
}
.gramsect {
	display: inline-table;
	border-radius: 5px;
	background-color: #d4ace6;
	color: rgba(0, 0, 0, 0.75);
}
.gramsect td {
	border-right: 1px dotted white;
	min-width: 1em;
	text-align: center;
}
.gramsect td:last-child {
	border-right: 0;
}
.gramsectref {
	display: inline-table;
	border-radius: 5px;
	background-color: #efccff;
	color: rgba(0, 0, 0, 0.5);
	direction: ltr;
}
.gramsectref:hover {
	background-color: #d4ace6;
}
.gramsectref td {
	border-right: 1px dotted white;
	min-width: 1em;
	text-align: center;
}
.gramsectref td:last-child {
	border-right: 0;
}
.syntagm {
	border-collapse: seperate;
}
.syntagm tr td {
	border: 1px solid #EEE;
}
.paradigm {
	border: 1px solid gray !important;
}
.gloss__word .gloss__line:first-child {
  font-style: normal;
}
.gloss__words:first-child {
	margin-top: 0;
}
.gloss__word {
	margin-bottom: 0;
}
.gloss__line--0 {
	text-align: center;
}
.gloss__line--1 {
	font-size: smaller;
}
.gloss__line--2 {
	text-align: center;
}
.gloss__line--3 {
	direction: rtl;
}
.gloss--glossed {
	display: inline-table;
	direction: ltr;
	vertical-align: top;
}
a {
	text-decoration: none;
}

/*** Perfect Scrollbar (http://noraesae.github.io/perfect-scrollbar/) ***/

.ps-container > .ps-scrollbar-x-rail,
.ps-container > .ps-scrollbar-y-rail {
	opacity: 0.3;
}

.pscont {
	position: relative;
	padding-left: 1em;
}

.hiddenobjh {
	max-height: 0;
	overflow: hidden;
}

.hiddenobjwh {
	max-width: 0;
	max-height: 0;
	overflow: hidden;
}

.button {
	border-radius: 5px;
	padding: 5px;
	box-shadow: inset 0 1px 10px rgba(0,0,0,.3),
	0 1px 0 rgba(255,255,255,.1),
	0 -1px 0 rgba(0,0,0,.5);
}

.hsplit {
    border: none;
    height: 1px;
	background-color: #eec8ff;
	margin-top: 1em;
	margin-bottom: 1em;
}


/* to make scrollbars always visible */
.always-visible.ps-container > .ps-scrollbar-x-rail,
.always-visible.ps-container > .ps-scrollbar-y-rail {
	opacity: 0.2;
</style>


<div class="pscont left">
	<h1>
		<table class="gramsect" id="sec:I">
			<td>I</td>
		</table>
		<div class="pattern">
			<table>
				<tr style="vertical-align: top">
					<td>ש1</td>
					<td>は</td>
					<td>ש2</td>
					<td>
						です。<br>
						ではありません。<br>
						でした。<br>
						ではありませんでした。
					</td>
				</tr>
			</table>
		</div>
	</h1>

	<h2>
		<table class="gramsect" id="sec:I.1">
			<td>I</td>
			<td>1</td>
		</table>
		ש1 = שם עצם
	</h2>

	<table class="gramsect" id="sec:I.1.a">
		<td>I</td>
		<td>1</td>
		<td>a</td>
	</table>
	<span class="subpattern">
		<u><ruby>私<rt>わたし</rt></ruby></u>は　<u><ruby>学生<rt>がくせい</rt></ruby></u>です。
	</span> (ש2 = שם עצם)
	<table class="syntagm">
		<tr>
			<td class="paradigm">
				わたし<br>
				あなた<br>
				あのかた<br>
				あのひと<br>
				<u>שם</u>さん
			</td>
			<td>
				は<br>
				も
			</td>
			<td class="paradigm">
				<ruby>学生<rt>がくせい</rt></ruby><br>
				<ruby>先生<rt>せんせい</rt></ruby><br>
				<u>שם</u>さん<br>
				<u>שם</u><ruby>先生<rt>せんせい</rt></ruby><br>
				<u>שם מקום</u>じん
			</td>
			<td>
				です<br>
				ではありません
			</td>
			<td>
				。<br>
				か。
			</td>
		</tr>
	</table>

	<table class="gramsect">
		<td>I</td>
		<td>1</td>
		<td>b</td>
	</table>
	<span class="subpattern">
		<u><ruby>私<rt>わたし</rt></ruby></u>は　<u>どなた</u>ですか。
	</span> (ש2 = כינוי שאלה)
	<table class="syntagm">
		<tr>
			<td class="paradigm">
				あなた<br>
				あのかた<br>
				<u>שם</u>さん
			</td>
			<td>
				は<br>
				も
			</td>
			<td class="paradigm">
				だれ<br>
				どなた<br>
				なにじん
			</td>
			<td>
				です
			</td>
			<td>
				か。
			</td>
		</tr>
	</table>

	<h2>
		<table class="gramsect" id="sec:I.2">
			<td>I</td>
			<td>2</td>
		</table>
		ש1 = כינוי רמז
	</h2>

	<table class="gramsect">
		<td>I</td>
		<td>2</td>
		<td>a</td>
	</table>
	<span class="subpattern">
		<u>これ</u>は　<u><ruby>本<rt>ほん</rt></ruby></u>です。
	</span> (ש2 = שם עצם)
	<table class="syntagm">
		<tr>
			<td class="paradigm">
				これ<br>
				それ<br>
				あれ
			</td>
			<td>
				は
			</td>
			<td class="paradigm">
				<ruby>本<rt>ほん</rt></ruby><br>
				ノート<br>
				カバン<br>
				<ruby>鉛筆<rt>えんぴつ</rt></ruby><br>
				ペン<br>
				<ruby>窓<rt>まど</rt></ruby><br>
				ドア<br>
				<ruby>黒板<rt>こくばん</rt></ruby>
			</td>
			<td>
				です<br>
				ではありません
			</td>
			<td>
				。<br>
				か。
			</td>
		</tr>
	</table>

</div>

<div class="pscont right">
	<h1>משפט עם אוגד です
	<a href="#sec:I">
		<table class="gramsectref">
			<td>I</td>
		</table>
	</a>
	</h1>

	<h2>דגם משפט</h2>

	דגם משפט זה ביפנית הוא „ש1はש2です” („ש1 הוא ש2”). במשפטים אלה מופיעים שני שמות עצם, האחד יחד עם מילית は כנושא, השני יחד עם אוגד です כנשוא. כגון:

	<ul>
		<li>
			<a href="#sec:I.1">
				<table class="gramsectref">
					<td>I</td>
					<td>1</td>
				</table>
			</a>
			<div data-gloss>
				<p>私 は 学生 です。</p>
				<p>わたし は がくせい です。</p>
				<p>אני {} סטודנט {}</p>
				<p>אני סטודנט.</p>
			</div>
		</li>
		<li>
			<a href="#sec:I.2">
				<table class="gramsectref">
					<td>I</td>
					<td>2</td>
				</table>
			</a>
			<div data-gloss>
				<p>これ は 本 です。</p>
				<p>これ は ほん です。</p>
				<p>זה {} ספר {}</p>
				<p>זה ספר.</p>
			</div>
		</li>
		<li>
			<a href="#sec:I.3">
				<table class="gramsectref">
					<td>I</td>
					<td>3</td>
				</table>
			</a>
			<div data-gloss>
				<p>ここ は 大学 です。</p>
				<p>ここ は だいがく です。</p>
				<p>כאן {} אוניברסיטה {}</p>
				<p>כאן אוניברסיטה.</p>
			</div>
		</li>
	</ul>

	<h2>קבוצות בחירה</h2>

	קבוצות הבחירה של ש1 ו־ש2:
	<table style="direction: ltr">
		<tr style="direction: rtl">
			<td>ש1</td>
			<td>は</td>
			<td>ש2</td>
			<td>です</td>
		</tr>
		<tr style="direction: rtl">
			<td>שמות עצם<br>שמות עצם פרטיים<br>כינויים</td>
			<td></td>
			<td>שמות עצם<br>שמות עצם פרטיים<br>כינויים<br>כינויי שאלה</td>
			<td></td>
		</tr>
	</table>
</div>

<br style="clear: both" />





<script>
window.onload = function () {
	[].forEach.call(document.querySelectorAll('.pscont'), function (el) {
		Ps.initialize(el);
	});
};
document.addEventListener('DOMContentLoaded', function() {
    Leipzig().gloss();
  });
</script>


