/*** General ***/

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

body {
	direction: RTL;
	font-family: "Alef", sans-serif;
	font-size: medium;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
	flex-direction: column;
}

header {
    background-color: #eec8ff;
	padding: 1ex;
	border-bottom: 3px #A260BF solid;
	vertical-align: middle;
}

header button .btn,
header button .btn-default,
header button .dropdown-toggle {
	background-color: #d6b4e6;
}

.main {
    flex: auto;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

footer {
    background-color: #ccc;
	font-size: 0.85em;
}

a {
	color: #A260BF;
	text-decoration: none;
}

table td, table td * {
    vertical-align: top;
}



/*** Perfect Scrollbar (http://noraesae.github.io/perfect-scrollbar/) ***/

.ps-container > .ps-scrollbar-x-rail,
.ps-container > .ps-scrollbar-y-rail {
	opacity: 0.3;
}

.pscont {
	position: relative;
	padding-left: 1em;
}

.hiddenobjh {
	max-height: 0;
	overflow: hidden;
}

.hiddenobjwh {
	max-width: 0;
	max-height: 0;
	overflow: hidden;
}

.button {
	border-radius: 5px;
	padding: 5px;
	box-shadow: inset 0 1px 10px rgba(0,0,0,.3),
	0 1px 0 rgba(255,255,255,.1),
	0 -1px 0 rgba(0,0,0,.5);
}

.hsplit {
    border: none;
    height: 1px;
	background-color: #eec8ff;
	margin-top: 1em;
	margin-bottom: 1em;
}


/*** Table of Contents ***/

#toc .subsection, #toc .subsection ul, #toc .subsection li {
	display: inline;
}

#toc ul {
    list-style-type: none;
	padding: 0;
	margin: 0;
}

#toc .section li {
	font-weight: bold;
}

#toc .section ul {
	padding-right: 1em;
}

#toc .subsection li {
	font-weight: normal;
}

#toc .subsection li {
	margin-left: 1em;
}

#toc .subsection li.last {
	content: ". ";
}

#toc {
	/*border: 2px #A260BF dotted;
	padding: 1em;*/
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#toc .panel-heading {
	background-color: #e2bef2;
}

#toc .panel-body {
	background-color: #f6e3ff;
}

/*** Dialogue ***/

.interlocutorrtl {
	direction: rtl;
	padding-left: 1em;
	white-space: nowrap;
	color: #523161;
	font-weight: bold;
}

.interlocutorltr {
	direction: ltr;
	padding-right: 1em;
	white-space: nowrap;
	color: #523161;
	font-weight: bold;
}

.kanainterlocutorltr {
	direction: ltr;
	padding-right: 1em;
	white-space: nowrap;
	color: #766080;
	font-weight: bold;
}

.kanatext {
	color: #555;
}

.wordlistpos {
	direction: rtl;
	padding-left: 1em;
	vertical-align: middle;
	/* inherit from .secondary */
	color: #555;
	font-size: 80%;
}

#kanzi table {
	direction: ltr;
	width: 75%
}

#kanzi table td, #kanzi table td * {
    vertical-align: middle;
}

#kanzi .kanzi {
	font-size: 200%;
	text-align: center;
}

.secondary {
	color: #555;
	font-size: 80%;
}

