<h1>נספחים</h1>
<h2>קולופון</h2>

המידע שבספר קודד ל<a href="https://en.wikipedia.org/wiki/Open_format">פורמטים פתוחים</a> שניתנים לקריאה הן על ידי מחשב והן על ידי בני־אדם: הטקסט (יפנית, קריאה ותרגום) והמילון (רשימות המילים והקנג׳י) קודדו כ־<a href="https://en.wikipedia.org/wiki/YAML">YAML</a>, והדקדוק (המבוא, הדגמים והערות הלשון) והחלקים האחרים ב־<a href="https://he.wikipedia.org/wiki/HTML">HTML</a>. הקלט מעובד לצורה של אתר בעזרת הכלים הבאים, כולם <a href="https://he.wikipedia.org/wiki/%D7%AA%D7%95%D7%9B%D7%A0%D7%94_%D7%97%D7%95%D7%A4%D7%A9%D7%99%D7%AA">חופשיים</a> וככל הידוע לי תואמי־תקנים:

<ul>
	<li><a href="https://github.com/rwmpelstilzchen/japanit">תוכנה</a> שכתבתי ב<a href="https://www.python.org/">פייתון</a>, שמנצחת על תהליך ההמרה. כרגע היא תומכת בפלט HTML; יתכן שבעתיד אוסיף תמיכה בפלט <a href="https://en.wikipedia.org/wiki/XeTeX">XeLaTeX</a>, שיאפשר הדפסה קלה של הספר (מצד שני, הספר בנוי בצורה כזאת שמצריכה כמה חלוניות פתוחות במקביל, מה שמקשה על השימוש בו כספר מודפס ונותן יתרון לקריאה דרך המחשב).</li>
	<li>הממשק של פייתון עם YAML (קריאה) ו־HTML (כתיבה) נעשה בעזרת החבילות <a href="http://pyyaml.org/">PyYAML</a> ו־<a href="https://github.com/Knio/dominate">Dominate</a>, בהתאמה.</li>
	<li>פונטים:
		<ul>
			<li>הפונט העברי והלטיני שמשמש באתר הוא <a href="http://alef.hagilda.com/">אָלֶף</a>.</li>
			<li>לטקסט ביפנית משמש הפונט ברירת־המחדלי שבמערכת שלכם (בגלל המספר הרב של הסימנים, לא ניתן להשתמש ב<a href="https://en.wikipedia.org/wiki/Web_typography#Web_fonts">פונטים לרשת</a> עבור יפנית, כי הקבצים גדולים מדי).</li>
			<li>הפונטים שמשמשים לאייקונים של הספר הפתוח (<i class="demo-icon icon-book-open"></i>; מסמן טקסט, כולל מידע מילוני המשוייך אליו) ושל גלגלי־השיניים (<i class="demo-icon icon-cogs"></i>; מסמן תיאור של המערכת הדקדוקית) הם <a href="http://www.entypo.com/">Entypo</a> ו־<a href="https://github.com/reduxframework/elusive-iconfont">Elusive</a>, בהתאמה. את המיזוג של שניהם לקובץ אחד עשיתי בעזרת <a href="http://fontello.com/">Fontello</a>.</li>
		</ul>
	</li>
	<li>הקנג׳י הצבעוניים שמסמנים את סדר הקווים לקוחים מ־<a href="https://github.com/cayennes/kanji-colorize">KanjiColorizer</a>.</li>
	<li>עבור פסי הגלילה המיוחדים של החלוניות משמש <a href="http://noraesae.github.io/perfect-scrollbar/">perfect-scrollbar</a> המינימליסטי.</li>
	<li>עבור גרידים משמש <a href="http://flexboxgrid.com/">Flexbox Grid</a>.
</ul>

הן התוכנה הממירה והן קבצי־המקור של התוכן זמינים כולם להורדה <a href="https://github.com/rwmpelstilzchen/japanit">כאן</a>. התוכנה ומה שאני הוספתי משוחררים תחת <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY</a>; הטקסט של הזוג צוג׳יטה נמצא במסגרת זכויות היוצרים שלהם. הכל נעשה על דעת מריקו צוג׳יטה.
